<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script
      src="https://kit.fontawesome.com/12143e2967.js"
      crossorigin="anonymous"
    ></script>
    <title>Food Project</title>

  </head>

  <body>
    <div class="up bg-light-gray">
      <nav class="nav-bar container-center">
        <div
          class="nav-left"
          style="
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
"
        >
          <h1 class="logo lg-font">FW</h1>
          <li class="item"><a
              href="/log"
              style="padding: 34px"
              id="logout"
            >Logout</a></li>
        </div>

        <div class="nav-right">
          <input type="checkbox" />
          <div class="hamburger-lines">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
          </div>
          <ul class="nav-items md-font text-gray">
            <li class="item item-1"><a href="#">Home</a></li>
            <li class="item item-2"><a href="#">About</a></li>
            <li class="item item-3"><a href="#">Category</a></li>
            <li class="item item-4"><a href="#">Menu</a></li>
            <li class="item item-5"><a href="#">Testimonial</a></li>
            <li class="item item-6"><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- header section -->
    <header class="header" id="home">
      <img
        src="./images/header-image2.jpg"
        alt="header image"
        class="header-img"
      />
      <div class="content-box">
        <h1 class="md-font content-heading">EAT RIGHT FOOD</h1>
        <p>Eat healthy food, it is good for health.</p>
        <a href="#" class="btn small-font bg-green">MENU</a>
      </div>
    </header>

    <!-- about us section -->
    <section class="about-us bg-light-gray" id="about">
      <div class="container-center about-wrapper">
        <div class="about-content">
          <h2 class="normal-font text-gray about-heading">About Us</h2>
          <h2 class="lg-font about-title">We've been making healthy food for
            last 10 years</h2>
          <p class="about-para">Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Fugiat amet cum aliquid dignissimos quasi
            obcaecati quia ipsum aliquam! Illo, esse. Suscipit doloribus eaque
            cumque consectetur, repudiandae atque quo optio aspernatur accusamus
            sit vitae explicabo sequi debitis eveniet provident dolore
            perspiciatis inventore dolorem tempore ab laboriosam. Repudiandae
            eligendi quos animi quae.</p>
        </div>
        <div class="about-img">
          <img src="./images/about-photo.jpg" alt="strawberries in bowl" />
        </div>
      </div>
    </section>

    <section class="food-types" id="category">
      <div class="container-center">
        <h2 class="food-heading lg-font text-gray">TYPES OF FOOD</h2>
        <div class="food-imgs">
          <div class="food-box">
            <img
              src="./images/food1.jpg"
              alt="food 1"
              class="food-img food-1"
            />
            <div class="food-content">
              <h2 class="food-desc lg-font text-white">Fruit</h2>
              <a href="#" class="btn btn-food extra-small-font bg-green">Learn
                More</a>
            </div>
          </div>
          <div class="food-box">
            <img
              src="./images/food2.jpg"
              alt="food 2"
              class="food-img food-2"
            />
            <div class="food-content">
              <h2 class="food-desc lg-font text-white">Vegetable</h2>
              <a href="#" class="btn btn-food extra-small-font bg-green">Learn
                More</a>
            </div>
          </div>
          <div class="food-box">
            <img
              src="./images/food3.jpg"
              alt="food 3"
              class="food-img food-3"
            />
            <div class="food-content">
              <h2 class="food-desc lg-font text-white">Grain</h2>
              <a href="#" class="btn btn-food extra-small-font bg-green">Learn
                More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- food menu section -->
    <section class="food-menu" id="menu">
      <div class="container-center menu-wrapper">
        <h2 class="menu-heading lg-font text-gray">FOOD MENU</h2>
        <div class="menu-items">
          <div class="menu-item">
            <div class="menu-img">
              <img src="./images/food-menu1.jpg" alt="food menu 1" />
            </div>
            <div class="menu-item-content">
              <h2 class="md-font text-gray">Food Menu Item 1</h2>
              <p class="text-gray">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ad, mollitia.</p>
              <h3 class="text-green extra-small-font">Price: &#8377; 250</h3>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-img">
              <img src="./images/food-menu2.jpg" alt="food menu 2" />
            </div>
            <div class="menu-item-content">
              <h2 class="md-font text-gray">Food Menu Item 2</h2>
              <p class="text-gray">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ad, mollitia.</p>
              <h3 class="text-green extra-small-font">Price: &#8377; 260</h3>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-img">
              <img src="./images/food-menu3.jpg" alt="food menu 3" />
            </div>
            <div class="menu-item-content">
              <h2 class="md-font text-gray">Food Menu Item 3</h2>
              <p class="text-gray">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ad, mollitia.</p>
              <h3 class="text-green extra-small-font">Price: &#8377; 270</h3>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-img">
              <img src="./images/food-menu4.jpg" alt="food menu 4" />
            </div>
            <div class="menu-item-content">
              <h2 class="md-font text-gray">Food Menu Item 4</h2>
              <p class="text-gray">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ad, mollitia.</p>
              <h3 class="text-green extra-small-font">Price: &#8377; 150</h3>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-img">
              <img src="./images/food-menu5.jpg" alt="food menu 5" />
            </div>
            <div class="menu-item-content">
              <h2 class="md-font text-gray">Food Menu Item 5</h2>
              <p class="text-gray">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ad, mollitia.</p>
              <h3 class="text-green extra-small-font">Price: &#8377; 270</h3>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-img">
              <img src="./images/food-menu6.jpg" alt="food menu 6" />
            </div>
            <div class="menu-item-content">
              <h2 class="md-font text-gray">Food Menu Item 6</h2>
              <p class="text-gray">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Ad, mollitia.</p>
              <h3 class="text-green extra-small-font">Price: &#8377; 230</h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section of customer's feedback -->
    <section class="customers bg-light-gray" id="testimonial">
      <div class="container-center">
        <h2 class="customer-heading lg-font text-gray">What our customers say</h2>
        <div class="feedbacks">
          <div class="feedback feedback-1">
            <div class="ratings">
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
            </div>
            <p class="text-gray">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Perspiciatis laboriosam maiores minima,
              reiciendis voluptate, inventore error harum ea doloremque
              accusamus nesciunt eveniet hic facilis quasi?</p>
            <span>
              <img
                src="./images/male-photo1.jpg"
                alt="first customer"
                class="customer-img"
              />
              <h2 class="small-font text-black">John Doe</h2>
            </span>
          </div>
          <div class="feedback feedback-2">
            <div class="ratings">
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
            </div>
            <p class="text-gray">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Perspiciatis laboriosam maiores minima,
              reiciendis voluptate, inventore error harum ea doloremque
              accusamus nesciunt eveniet hic facilis quasi?</p>
            <span>
              <img
                src="./images/male-photo2.jpg"
                alt="first customer"
                class="customer-img"
              />
              <h2 class="small-font text-black">Jai Doe</h2>
            </span>

          </div>
          <div class="feedback feedback-3">
            <div class="ratings">
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
              <i class="fas fa-star gold-star"></i>
            </div>
            <p class="text-gray">Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Perspiciatis laboriosam maiores minima,
              reiciendis voluptate, inventore error harum ea doloremque
              accusamus nesciunt eveniet hic facilis quasi?</p>
            <span>
              <img
                src="./images/male-photo3.jpg"
                alt="first customer"
                class="customer-img"
              />
              <h2 class="small-font text-black">Jolly Doe</h2>
            </span>
          </div>
        </div>
      </div>
    </section>

    <!-- contact us section -->
    <section class="contact-us" id="contact">
      <div class="container-center">
        <div class="contact-img">
          <img
            src="./images/restraunt-image.jpg "
            alt="contact-restaurant image"
          />
        </div>
        <form action="" class="contact-form">
          <h2 class="contact-heading lg-font text-black">Contact Us</h2>

          <input type="text" name="name" id="name" placeholder="Name" />
          <input type="email" name="email" id="email" placeholder="Email" />
          <textarea name="message" id="message" cols="30" rows="10">Type your
            message here</textarea>
          <input type="submit" value="submit" class="btn bg-green" />
        </form>
      </div>

    </section>

    <!-- lets create the footer  -->
    <footer class="bg-dark-gray">
      <div class="container-center">
        <h2 class="footer-heading text-white lg-font">Restaurant Website, &copy;
          all rights reserved.</h2>
      </div>
    </footer>

    <script src="./js/script.js"></script>
  </body>

</html>